<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to
        <%= title %>
    </p>
    <form action="/login" method="post">
        <input type="text" name="email" placeholder="add email">
        <input type="password" name="password" placeholder="add password">
        <input type="submit">
    </form>
    <a href="/auth/github">Login using github</a>
    <a href="/auth/google">Login using google</a>
</body>

</html>