<!DOCTYPE html>
<html>

<head>
    <title>
        Logged in Success Page
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Success</h1>
    <a href="/logout">Logout</a>
</body>

</html>